# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_table("chipotle.tsv")

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [45]:
# Solution 1
chipo.shape[0]

4622

In [47]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [53]:
a = chipo.groupby('item_name').sum()
a.sort_values(['quantity']).tail(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

### Step 10. For the most-ordered item, how many items were ordered?

In [35]:
chipo.item_price.dtypes

dtype('O')

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
a = chipo.groupby('choice_description').sum()
a.sort_values(['quantity']).tail(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

### Step 12. How many items were orderd in total?

In [11]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [36]:
chipo.item_price.dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [40]:
x = lambda a: float((a[1:]))
chipo.item_price = chipo.item_price.apply(x)

#### Step 13.c. Check the item price type

In [41]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [55]:
(chipo.item_price * chipo.quantity).sum()

39237.02

### Step 15. How many orders were made in the period?

In [63]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [64]:
# Solution 1
(chipo.item_price * chipo.quantity).sum() / chipo.order_id.value_counts().count()

21.39423118865867

In [65]:
# Solution 2

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped['revenue'].mean()

21.39423118865867

### Step 17. How many different items are sold?

In [30]:
chipo.item_name.nunique()

50