# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = pd.read_table("chipotle.tsv")

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.describe

<bound method DataFrame.describe of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
13           7         1                           Chicken Bowl
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
19          10         1                           Chicken Bowl
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
26          13         1                           Chicken Bowl
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
...        ...       ...                                    ...
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4595      1826         1                           Chicken Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4599      1827         1                           Chicken Bowl
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
...                                                 ...        ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

In [9]:
# Solution 2

chipo.count

<bound method DataFrame.count of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
13           7         1                           Chicken Bowl
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
19          10         1                           Chicken Bowl
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
26          13         1                           Chicken Bowl
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
...        ...       ...                                    ...
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4595      1826         1                           Chicken Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4599      1827         1                           Chicken Bowl
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
...                                                 ...        ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]>

### Step 6. What is the number of columns in the dataset?

In [12]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [13]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [14]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

In [ ]:
# Solution 2

### Step 17. How many different items are sold?